name: CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.zig"
      - ".github/workflows/**"
  push:
    branches:
      - main
    paths:
      - "**.zig"
      - ".github/workflows/**"

jobs:
  examples:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0
          # version: master
      - name: Start services
        uses: ikalnytskyi/action-setup-postgis@v1
        with:
          username: postgres
          password: postgres
          database: postgres
          port: 5432
      - name: Install deps
        run: |
          make install-deps
      - name: Set pkg-config(macOS)
        if: matrix.os == 'macos-latest'
        run: |
          echo "PKG_CONFIG_PATH=$(brew --prefix)/opt/libpq/lib/pkgconfig" >> ${GITHUB_ENV}
      - name: Run examples(Unix)
        if: matrix.os != 'windows-latest'
        run: |
          # TODO: 0.11.0 will report following error with zon file, so delete now.
          # error: TarUnsupportedFileType
          pkg-config --libs --cflags libpq
          rm build.zig.zon
          zig fmt --check src/
          zig build run-all --summary all

      - name: Run examples(Windows)
        if: matrix.os == 'windows-latest'
        run: |
          zig.exe fmt --check src/
          zig.exe build run-all --summary all
